@import 'styles';

.custom-border {
  border: 10px solid #e7b7b7; 
  border-radius: 5px;
  outline: 2px solid darkgrey; 
  background-image: url('../assets/pixelBg.jpg');
}

.character-div{
  height: calc(100vh - 20vh); 
  width: 80%;
}

.skills{
  .grid-progress{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .bg-lnir{
    background-image: linear-gradient(to right, #f0bdbd , #c99999);
    top: 0;
    left: 0;
  }

  .tools-progres{
    padding-left: 40px;

    .progres{
      position: relative;
      padding-bottom: 50px;
    
      p{
        font-size: 14px;
        font-weight: 600;
        color: #777;
        margin: 0;
        width: 80px;
      }
      .prog{
        width: 80%;
        background-color: #dddddd;
        border: 3px solid #eee;
        border-radius: 15px;
        height: 20px;
        position: relative;
      
        span{
          position: absolute;
          height: 100%;
          border-radius: 15px;

          &::before{
            position: absolute;
            content: "";
            height: 0;
            width: 0;
            right: 0;
            top: -7px;
            border: 7px solid  transparent;
            border-bottom-width: 0;
            border-right-width: 0;
            border-top-color: darkgrey;
          }

          &::after{
            color: white;
            position: absolute;
            border-radius: 3px;
            right: 0;
            top: -31px;
            background-color: darkgrey;
            padding: 1px 5px;
          }
          &.html::after{
            content: "90%";
          }
          &.css::after{
            content: "85%";
          }
          &.js::after,
          &.jsf::after{
            content: "70%";
          }
          &.vue::after,
          &.node::after{
            content: "30%";
          }
        }
      }
    }
  }
}

.avatar{
  .avatar-img{
    position: relative; 
    z-index: 100; 
    height: 400px; 
    align-self: center;
  }
}

.tools{
  .squares {
    aspect-ratio: 1/1; /* makes the div a square */
    background-color: #f2f2f2;
    border: 2px solid darkgrey;
    border-radius: 5px;
  }
  
  .img-square img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  }

  .nested-row-img {
    display: grid;
    grid-template-columns: 30% 30%;
    gap: 10px; 
    align-content: start;
    justify-content: center;
  }

  .nested-row {
    display: grid;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .carousel-control-prev, .carousel-control-next {
    width: 10%;
  }

  .character-div{
    width: 90%;
  }
  .skills{
    .tools-progres{
      .progres{
        padding-bottom: 30px;

        .prog span::after {
          right: -33px;
        }
      }
    }
  }

}


