.section-profile {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}

.first-container {
  height: 40%;
  background-color: #f2f2f2;
}

.image-container {
  height: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rounded-circle {
  width: 400px;
  height: 400px;
  position: absolute;
  top: calc(-200px - 8px);
  left: 50%;
  transform: translateX(-50%);
  border: 8px solid white;
  object-fit: cover;
}

