.first-container {
  height: 30%;
  background-color: #f2f2f2;
}

.image-container {
  height: 70%;
  position: relative;
}

.rounded-circle-image {
  width: 200px;
  height: 200px !important;
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid #fff;
  position: absolute;
  top: -103px;
}

/* Media query for desktop view */
@media (min-width: 768px) {
  .rounded-circle-image {
    width: 350px;
    height: 350px !important;
    top: -210px;
  }

  .first-container {
    height: 35%;
  }
  
  .image-container {
    height: 65%;
  }
  
  .mt-50{
    margin-top: 50px;
  }
}





