@import 'styles';

.project-img{ 
  border: 3px solid #c99999; 
  border-radius: 50%;
  height: 300px; 
  width: 300px; 
}

.git-link{
  color: #c99999;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.description{
  height: 50px;
}

@media (max-width: 768px){
  .project-img{
    height: 150px;
    width: 150px;
  }
  .project-text{
    height: 250px; 
    display: block;
  }
}