html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.section-height{
  height: calc(100vh - 56px);
}

.sections-wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

.heading{
  color: darkgrey;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5); 
}

.container {
  position: relative; 
  text-align: center;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

#section1, #section2, #section3{
  scroll-snap-align: start;
  padding-top: 56px;
}